body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

header img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border: 2px solid #333;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header h1 {
    font-size: 32px;
    margin: 0;
}
header {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

header img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border: 2px solid #333;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header h1 {
    font-size: 32px;
    margin: 0;
}

footer {
    background-color: #b3e0a2;
    color: #333;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send:hover {
    background-color: #0056b3;
}

/* Estilos para centralizar o formulário de contato */
main {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
}

form {
    display: inline-block; /* Permite que o formulário ocupe apenas o espaço necessário */
    text-align: left; /* Reverte o alinhamento para o conteúdo do formulário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
}
