body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

header img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border: 2px solid #333;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header h1 {
    font-size: 32px;
    margin: 0;
}
header {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

header img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border: 2px solid #333;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header h1 {
    font-size: 32px;
    margin: 0;
}

footer {
    background-color: #b3e0a2;
    color: #333;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
.main {
    padding: 20px;
    background-color: #f9f9f9;
}

.quem-somos {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.quem-somos h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.quem-somos p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

/* Estilos para os objetivos */

.objetivos {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
}

.objetivos h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.objetivos p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}
